<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Company</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/company.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />

	<nav>
		<div class="homeNav">
			<a href="/">Home</a>
		</div>
		<div class="otherNav">
			<div class="dropdown">
				<a class="dropdown-button" onclick="toggleDropdown()">Company</a>
				<div id="dropdownOptions" class="dropdown-content">
					<a href="/register_company">Sign Up</a>
					<a href="/login_company">Login</a>
				</div>
			</div>
			<a href="#">Uni Supervisor</a>
			<a href="/login_admin">Admin</a>
			<a href="#">Student</a>
		</div>
	</nav>
</head>

<body>
	<form action="/loginCompany" autocomplete="on" method="POST" enctype="multipart/form-data">
		<div class="h1">
			<h1>
				Company Login
			</h1>
		</div>

		<fieldset>
			<div class="container">
				<div class="loginTable">
					<table>
						<tr>
							<td>
								<label class="label">Email</label>
							</td>
							<td>
								<input class="inputText" type="text" name="company_email"
									placeholder="Enter company registered email">
							</td>
						</tr>
						
						<tr>
							<td>
								<label class="label">Password</label>
							</td>
							<td>
								<input class="inputText" type="password" name="password" placeholder="Enter password">
							</td>
						</tr>
						
						<tr>
							<td></td>
							<td>
								<button class="submitBtn" type="submit">Login</button>
							</td>
						</tr>
					</table>
					<div class="msg" style="color: red; margin-left: 215px; margin-bottom: 10px;">{{ msg }}</div>
				</div>
			</div>

		</fieldset>
	</form>

	</form>
	<script src="{{ url_for('static', filename='script/master.js') }}"></script>
</body>


</html>