<!DOCTYPE html>
<html>

<head>
	<title>Above Free Responsive Template | Template Stock</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Onepage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
		<link href="{{ url_for('static', filename='css/css-style.css') }}" rel="stylesheet" type="text/css" media="all" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body>
	<div class="content">
		<div class="about-section" id="about" id="about">
			<div class="container">
				<div class="about-header">
					<h3>about</h3>
					<div class="about-imag">
						<img src="{{ url_for('static', filename='images/css.png') }}" alt="" />
					</div>
					<div class="about-text">
						<p>Within the ever-evolving realm of software engineering, Cheong Soo Siew stands as a beacon of innovation and expertise. With a name that resonates with excellence, they are at the forefront of cutting-edge technology.</p>
						<p>Soo Siew's journey into the digital domain started as a mere fascination, which has now blossomed into a full-fledged passion. Armed with a keyboard and a determination to conquer the binary jungle, they embarked on an odyssey that led them to unravel complex algorithms and craft elegant solutions.</p>
						<p>She is not just a code wizard; they are also a mentor and a collaborator. They thrive in the dynamic tech community, eagerly sharing their knowledge, guiding newcomers, and advocating for diversity in the field.</p>
						<p>When not crafting code, you'll find Soo Siew immersed in personal coding projects, contributing to open-source initiatives, or simply exploring the latest tech trends.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="about-sectiongrids">
					<div class="col-md-6 about-leftgrid">
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Graphic Design</h4>
								</div>
								<div class="percentage">
									<p>90%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:90%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Ui/Ux</h4>
								</div>
								<div class="percentage">
									<p>90%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:90%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Logo Design</h4>
								</div>
								<div class="percentage">
									<p>85%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:85%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Html/Css</h4>
								</div>
								<div class="percentage">
									<p>80%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:80%"> </div>
							</div>
						</div>

					</div>
					<div class="col-md-6 about-rightgrid">
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>web design</h4>
								</div>
								<div class="percentage">
									<p>90%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:90%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>branding</h4>
								</div>
								<div class="percentage">
									<p>50%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:50%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Photography</h4>
								</div>
								<div class="percentage">
									<p>75%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:75%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Jquery</h4>
								</div>
								<div class="percentage">
									<p>60%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width:60%"> </div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
			</div>
		</div>
		<!-- about-section-ends -->
		<!-- portfolio-section-ends -->
		<div class="services-section" id="services">
			<div class="container">
				<div class="services-header">
					<h3>services</h3>
					<p>Cheong Soo Siew offers expert services in software engineering, specializing in crafting cutting-edge applications and solving complex technical challenges. With a focus on optimizing software and enhancing user experiences, they are a trusted consultant for businesses seeking innovative tech solutions. Soo Siew's proficiency extends to mobile app development, AI integration, and cybersecurity, ensuring that your digital endeavors are secure, efficient, and future-ready.</p>
				</div>
				<div class="services-sectiongrids">
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/frontend.png') }}" alt="" style="width: 90px; height: 90px;"/>
						<h4>FRONT END DESIGN</h4>
						<p>Crafting captivating user interfaces is a passion.</p>
					</div>
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/appDev.png') }}" alt="" style="width: 90px; height: 90px;"/>
						<h4>APPLICATION DEVELOPMENT</h4>
						<p>Bringing innovative ideas to life through application development.</p>
					</div>
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/webDev.png') }}" alt="" style="width: 90px; height: 90px;"/>
						<h4>WEB DEVELOPMENT</h4>
						<p>Crafting seamless web experiences with cutting-edge technology.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- services-section-ends -->
	</div>


</body>

</html>