<!DOCTYPE html>
<html>

<head>
	<title>Above Free Responsive Template | Template Stock</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Onepage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
		<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
</head>

<body>
	<div class="content">
		<div class="about-section" id="about" id="about">
			<div class="container">
				<div class="about-header">
					<h3>about</h3>
					<div class="about-imag">
						<img src="{{ url_for('static', filename='images/hhm.png') }}" alt="" />
					</div>
					<div class="about-text">
						<p>With a strong foundation in software engineering and a passion for innovation, I bring a
							wealth of experience to the world of technology. My career journey has been marked by a
							commitment to excellence and a drive to solve complex problems through elegant and efficient
							software solutions. Throughout the years, I've had the privilege of working on diverse
							projects, from developing robust backend systems to crafting intuitive user interfaces, all
							while adhering to industry best practices and the latest technological advancements.</p>
						<br>
						<p>As a software engineer, I thrive on the challenges that this dynamic field presents. I have a
							proven track record of collaborating with cross-functional teams to deliver high-impact
							software products that meet and exceed client expectations. My expertise extends to areas
							such as software architecture, agile development methodologies, and continuous integration
							and deployment. I am dedicated to staying at the forefront of the ever-evolving tech
							landscape, ensuring that I remain adaptable and innovative in my approach to building
							software solutions that make a difference.</p>

					</div>
					<div class="clearfix"></div>
				</div>
				<div class="about-sectiongrids">
					<div class="col-md-6 about-leftgrid">
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Software Architecture</h4>
								</div>
								<div class="percentage">
									<p>85%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 85%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Java Development</h4>
								</div>
								<div class="percentage">
									<p>80%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 80%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Python Programming</h4>
								</div>
								<div class="percentage">
									<p>90%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 90%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Database Design</h4>
								</div>
								<div class="percentage">
									<p>85%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 85%"> </div>
							</div>
						</div>
						<!-- Add more software engineering-related skills here -->
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Agile Development</h4>
								</div>
								<div class="percentage">
									<p>75%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 75%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>DevOps Practices</h4>
								</div>
								<div class="percentage">
									<p>95%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 95%"> </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 about-rightgrid">
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Frontend Development</h4>
								</div>
								<div class="percentage">
									<p>80%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 80%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Backend Development</h4>
								</div>
								<div class="percentage">
									<p>85%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 85%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Software Testing</h4>
								</div>
								<div class="percentage">
									<p>90%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 90%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Cloud Computing</h4>
								</div>
								<div class="percentage">
									<p>75%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 75%"> </div>
							</div>
						</div>
						<!-- Add more software engineering-related skills here -->
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Cybersecurity</h4>
								</div>
								<div class="percentage">
									<p>80%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 80%"> </div>
							</div>
						</div>
						<div class="polls">
							<div class="poll">
								<div class="poll-desc">
									<h4>Mobile App Development</h4>
								</div>
								<div class="percentage">
									<p>85%</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="skills">
								<div style="width: 85%"> </div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- about-section-ends -->
		<!-- portfolio-section-ends -->
		<div class="services-section" id="services">
			<div class="container">
				<div class="services-header">
					<h3>Expertise</h3>
					<p>My expertise in software engineering encompasses a wide range of areas critical to the
						development of robust and scalable software solutions. I excel in designing and implementing
						efficient algorithms, optimizing code for performance, and ensuring the reliability and security
						of applications. Additionally, I have a deep understanding of software architecture, including
						microservices and cloud-based architectures, and have successfully delivered projects in diverse
						domains such as web applications, mobile apps, and enterprise systems. With a commitment to
						continuous learning and a keen eye for emerging technologies, I am well-equipped to tackle
						complex technical challenges and drive innovation in the field of software engineering.</p>
				</div>
				<div class="services-sectiongrids">
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/img1.png') }}" alt="" />
						<h4>Web Design and Development</h4>
						<p>Create visually stunning and highly functional websites with our expert web design and
							development services. We focus on user-centric design and employ the latest web technologies
							to ensure your online presence is both captivating and responsive.</p>
					</div>
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/img2.png') }}" alt="" />
						<h4>File Management</h4>
						<p>Efficiently organize, store, and manage your digital files with our file management
							solutions. Our robust systems make it easy to access and secure your important data,
							streamlining your workflow and enhancing productivity.</p>
					</div>
					<div class="col-md-4 services-grid">
						<img src="{{ url_for('static', filename='images/img3.png') }}" alt="" />
						<h4>Fullstack development</h4>
						<p>Experience end-to-end development expertise with our fullstack development services. From
							server-side logic to seamless user interfaces, we provide comprehensive solutions that
							empower your applications to perform at their best.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- services-section-ends -->
	</div>


</body>

</html>